body {
    padding: 0;
    margin: 0;
    font-family: "Courier Prime", monospace;

    overflow: hidden;
}

#bannerCont {
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    flex-wrap: wrap;

    transition: width 0.5s, left 0.5s;
}

#banner1 {
    width: 100%;
}

#marqCont {
    width: 100%;
    position: relative;
    font-size: 100;
}

#banner2 {
    position: absolute;
    top: 0;
    width: 100%;
}

#banner3 {
    position: absolute;
    width: 100%;
    top: 100%;
    transform: scaleY(-1);
    visibility: hidden;
}

#marquee {
    font-size: 3.7vw;
    
    transition: font-size 0.5;
}

#marquee div {
    width: fit-content;
    text-wrap: nowrap;
    position: relative;
}

#marquee div div {
    position: relative;
    animation: marquee 5s linear infinite;

    transition: animation 1s;
}

#enter {
    width: 30%;
    height: 45%;
    font-size: auto;
    font-weight: bold;
    position: absolute;
    right: 9%;
    top: 77.8%;
    background: linear-gradient(90deg, rgb(69, 187, 23) 0%, rgb(161, 61, 61) 50%,rgba(0,212,255,1) 100%);
    transform: matrix3d(
        1, 0, 0, 0,
        0, 1, 0, 0,
        0, 0, 1, 0,
        0, 0, 0, 1
      );
    transform-origin: center right;
}

@keyframes marquee {
    0%      {left: calc(75vw);}
    100%    {left: calc(-100%);}
}

@keyframes marqueeVert {
    0%      {left: calc(100vw + 35%);}
    100%    {left: calc(-65%);}
}

@media only screen and (max-width: 650px) {
    #bannerCont {
        width: 200%;
        left: -35%;
    }

    #marquee {
        font-size: 7vw;
        width: 100vw;
    }

    #marquee div div {
        animation: marqueeVert 5s linear infinite;
    }
    
}