body {
    padding: 0;
    margin: 0;
    font-family: "Courier Prime", monospace;

    overflow: hidden;
}

#bannerCont {
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    flex-wrap: wrap;

    transition: width 0.5s, left 0.5s;
}

#banner1 {
    width: 100%;
}

#marqCont {
    width: 100%;
    position: relative;
    font-size: 100;
}

#banner2 {
    position: absolute;
    top: 0;
    width: 100%;
}

#banner3 {
    position: absolute;
    width: 100%;
    top: 100%;
    transform: scaleY(-1);
    visibility: hidden;
}

#eye1, #eye2, #scallion {
    position: absolute;
    width: 100%;
    height: 27.35vw;

    z-index: 1;
}

#scallion {
    clip-path: polygon(
        27.3% 22.9vw, 
        29.5% 19.4vw, 
        28.7% 20.1vw, 
        28.5% 16.6vw, 
        30.3% 18.1vw, 
        30.9% 17.6vw, 
        34.1% 18.4vw, 
        35.4% 18.9vw, 
        34.8% 19.6vw, 
        35% 20.8vw, 
        34.5% 22.1vw, 
        33.7% 21.8vw, 
        32.3% 22.8vw, 
        30.5% 23.8vw, 
        29.5% 25.6vw);
}

#scallion:hover + #scalImg{
    opacity: 1;
}

#scalImg {
    position: absolute;
    width: 100%;
    height: 27.35vw;
    opacity: 0;
}

#eye1 {
    clip-path: circle(2.5% at 34.4% 8.6vw);
}
#eye2 {
    clip-path: circle(2.5% at 38.1% 9.5vw);
}

#eye1:hover ~ #eyeImg, #eye2:hover ~ #eyeImg{
    opacity: 1;
}

#eyeImg {
    position: absolute;
    width: 100%;
    height: 27.35vw;
    opacity: 0;
}

#marquee {
    font-size: 3.7vw;
    
    transition: font-size 0.5;
}

#marquee div {
    width: fit-content;
    text-wrap: nowrap;
    position: relative;
}

#marquee div div {
    position: relative;
    animation: marquee 10s linear infinite;

    transition: animation 0.5s;
}

#segment {
    background-image: url("../logos/segment.png");
    background-size:cover;
    position: absolute;
    width: 15vw;
    height: 15vw;
    left: 60.5%;
    top: 4vw;

    z-index: 2;
}

#segment:hover {
    background-image: url("../logos/seyegment.gif");
}

#enter {
    width: 42%;
    height: 45%;
    font-size: 15.5vw;
    font-weight: bold;
    text-align: center;
    position: absolute;
    right: 9%;
    top: 76%;
    transform: perspective(0.18vw) rotateX(0deg) rotateY(-0.1deg) skewX(0deg) skewY(14.7deg);
    transform-origin: center right;
    transform-style: preserve-3d;

    transition: opacity 0.5s;

    z-index: 3;
}

#enter:hover {
    cursor: pointer;

    text-shadow: 
    0.1vw 0.0vw 0 #BF9A27, 
    0.2vw 0.0vw 0 #BF9A27, 
    0.3vw -0.1vw 0 #BF9A27,
    0.4vw -0.1vw 0 #BF9A27, 
    0.5vw -0.2vw 0 #BF9A27,
    0.6vw -0.2vw 0 #BF9A27,
    0.7vw -0.3vw 0 #BF9A27,
    0.8vw -0.3vw 0 #BF9A27;
}

#preload {
    width: 0;
    height: 0;
    position: absolute;
}

#preload * {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}

@keyframes marquee {
    0%      {translate: calc(75vw);}
    100%    {translate: calc(-100%);}
}

@keyframes marqueeVert {
    0%      {translate: calc(100vw + 35%);}
    100%    {translate: calc(-65%);}
}

@media only screen and (max-width: 650px) {
    #bannerCont {
        width: 200%;
        left: -35%;
    }

    #marquee {
        font-size: 7vw;
        width: 100vw;
    }

    #marquee div div {
        animation: marqueeVert 7s linear infinite;
    }
    
    #enter {
        opacity: 1;
    }

    #scalImg, #eyeImg {
        display: none;
    } 
}